APP_ENV=dev
NODE_ENV=development
CONTAINER_PREFIX=quotation  

BACKEND_PORT=3000
FRONTEND_PORT=4200
MYSQL_HOST_PORT=3306
PHPMYADMIN_PORT=8081

DB_HOST=db
DB_PORT=3306
DB_NAME=quotation_dev
DB_USER=quotation_user
DB_PASSWORD=quotation_pass
DB_ROOT_PASSWORD=root

JWT_SECRET=change_me
JWT_EXPIRES_IN=8h
